* {box-sizing: border-box;}

/** {border: 1px solid darkgrey;} */

.jumbotron {
	background-image: url("../turntable1.jpg");
	background-size: 100% 143%;
	padding-top: 0;
	padding-bottom: 150px;
	margin: 0;
	color: #62465c;
}

#name {
	text-align: center;
}

#navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navbar li {
	display: inline-block;
	padding: 10px;
}

#navbar {
	background-color: #B6A19E;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%
}

.intro {
	padding-top: 100px;
}

.pic {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	box-shadow: 8px 5px 10px #aaa;
}

body {
	background-color: #CDCDCD;
}

footer {
	text-align: center;
	background-color: #192231;
	margin: 0;
	padding: 20px 0;
}

/* Typography */
